@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'main.css';
@import 'projects.css';
.intro-form {
  padding: 80px 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro-text h2 {
  font-size: 36px;
  max-width: 375px;
  height: 174px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
}

.intro-text p {
  font-size: 18px;
  color: #666666;
  max-width: 395px;
}

.contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form .submit-btn {
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #4c56fc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
  background-color: #3333cc;
}

/* Map */
.map {
  margin-top: 50px;
  max-width: 1200px;
  margin: 50px auto;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}