.header {
    width: 1109px;
    height: 23px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  
    .logo {
      font-size: 23rem;
      font-weight: bold;
      color: blue;
      text-decoration: none;
    }
  
    .menu-item {
      display: flex;
      gap: 30px;
      font-size: 1rem;
      a {
        color: blue;
        text-decoration: none;
        &:hover {
          color: palegreen;
        }
      }
    }
  }