.header {
  width: 1109px;
  height: 23px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.header .logo {
  font-size: 23rem;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}
.header .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 1rem;
}
.header .menu-item a {
  color: blue;
  text-decoration: none;
}
.header .menu-item a:hover {
  color: palegreen;
}

.footer {
  padding: 20px;
  width: 1109px;
  height: 23px;
  margin: 0 auto;
  background-color: blue;
  color: brown;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: wheat;
  text-decoration: none;
}
.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 1rem;
}
.footer .footer-content a {
  color: teal;
  text-decoration: none;
}
.footer .footer-content a:hover {
  color: navajowhite;
}